### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/
*.iml
*.iws

# Arquivos de log
*.log

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Bibliotecas externas
*.jar
*.class

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Sistema operacional
Thumbs.db
.DS_Store

# Configurações de banco local (se houver arquivos temporários)
db/*.db

# Outros
*.tmp
